<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
>
<head>
    <title>Todoアプリ</title>
</head>
<body>
<section layout:fragment="content">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Status</th>
            <th scope="col">Deadline</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="task : ${taskList}"
            th:onclick="|location.href='@{/tasks/{id}(id=*{id})}'|"
            style="cursor:pointer"
        th:object="${task}">
            <td><a th:text="'#'+ *{id}"></a></td>
            <td><a th:text="*{title}" ></a></td>
            <td th:text="*{status}"></td>
            <td><a th:text="*{deadline}"></a></td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/tasks/create}" class="btn btn-primary">新規作成</a>
</section>
</body>
</html>